{% set card = "col-lg-3 col-md-12" %}
<div class="{{ card }} {{ formBlockStd }} m-2 p-0">

    <div class="rounded ">
        <div class="{{ titleBlock }} ">
            <h4 class="col-10">{{ profile.title }} </h4>
            <button type="button" class="btn btn-info">
                Matchs <span class="badge badge-light">9</span>
            </button>
        </div>

        <table class="table">
            <tbody>
            <tr>
                <th>Date de creation:</th>
                <td><span class="font-weight-light h-1">{{ profile.dateCreation|date("m/d/Y") }}</span></td>
            </tr>
            <tr>
                <th>Details:</th>
                <td>...</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="d-flex p-2 justify-content-around ml-1 container-a">
        <a href="{{ path('profile_editSkillBoardRequest' , { "id":profile.id })}}">
            Modifier les compétences</a>
    </div>
</div>
