{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="container-btn-maj-cancel ml-3 mr-3">
    <a href="{{ path('user_profile_show') }}">Annuler</a>
    <button class="btn">{{ button_label|default('Suivant') }} {{ include('components/_icon_next.html.twig') }}</button>
</div>
{{ form_end(form) }}
