{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="container-btn-maj-cancel">
    <button class="btn">{{ button_label|default('Suivant') }}</button>
    <a href="{{ path('user_profile_show') }}">Annuler</a>
</div>
{{ form_end(form) }}
