<div class="m-2 container-fluid justify-content-center flex-column ">
    {% set idCategoryBefore = -1 %}
    {% set idLevelBefore = -1 %}
    {% for aSkillBy in skillsByCategories %}
        <div class="{{ containerStdProfile }} justify-content-center flex-column form-gca p-0">
            <div class="p-2 d-flex align-items-start align-content-start container-title-block">
                <h5>{{ aSkillBy.category.name }} :</h5>
            </div>
            <p class="m-2 question">{{ aSkillBy.category.EnterpriseQuestion }}</p>
            {% set before = "" %}

            {% for aSkill in aSkillBy.skills %}
                {# it is five same skill with a level for each one  on to  five but at this time there is
                 implemented and we keep  just one of five same name skill #}


                {% if before != aSkill.name %}
                    {% set wayAdd = app.request.schemeAndHttpHost ~ path('profile_addSkill', {'id': profileId ,
                        'skillId': aSkill.id }) %}
                    {% set wayRemove = app.request.schemeAndHttpHost ~ path('profile_removeSkill', {'id': profileId ,
                        'skillId': aSkill.id }) %}
                    {% set wayCheck = app.request.schemeAndHttpHost ~ path('profile_checkSkill', {'id': profileId ,
                        'skillId': aSkill.id }) %}

                    <div class="m-0 p-0 border-bottom border-style-blue">
                        <div id="skillGroup" class="ml-5 d-flex flex-fill align-items-stretch
                                    align-content-center">
                            <h6 id="skillLabel" class="m-0 align-self-center w-75">{{ aSkill.name }}</h6>
                            <input id="linkCheck" name="linkCheck" type="hidden" value="{{ wayCheck }}">
                            <input id="skillCheckbox" class="m-0 align-self-center" type="checkbox">
                            {% set before = aSkill.name %}
                            <input id="skillId" name="skillId" type="hidden" value="{{ aSkill.id }}">
                            <input id="profileId" name="profileId" type="hidden" value="{{ profileId }}">
                            <input id="linkAdd" name="linkAdd" type="hidden" value="{{ wayAdd }}">
                            <input id="linkRemove" name="linkRemove" type="hidden" value="{{ wayRemove }}">
                        </div>
                    </div>
                {% endif %}


            {% else %}
            {% endfor %}

        </div>
    {% else %}
        <h1> Aucun skill detecter</h1>
    {% endfor %}
</div>
</div>
