
{% form_theme form with [
    'bootstrap_3_layout.html.twig',
    '@VichUploader/Form/fields.html.twig'
    ]
%}

{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="container-btn-maj-cancel">
    <a href="{{ path('user_profile_show') }}">Annuler</a>
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
</div>
{{ form_end(form) }}
