{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<div class="containerStd-bootstrap login">
    <div class="d-flex justify-content-around align-items-center align-content-center login bnj-form-width">
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        {{ form_start(emailForm) }}
        <div class="d-flex justify-content-around">
            <h1>Mot de passe oublié</h1>
        </div>
        {{ form_row(emailForm.email, {'attr' : {'class': 'form-control', 'placeholder': 'Email'}}) }}

        <div class="d-flex justify-content-around">
            <button type="submit" class="btn">Envoyer</button>
        </div>

        {{ form_end(emailForm) }}

    </div>
</div>
{% endblock %}
