{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% block navbar %}
    {% endblock %}

    <div class="containerStd-bootstrap login">
        <div class="d-flex justify-content-around align-items-center align-content-center login">
            {% for category, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que <strong>{{ app.user.username }}</strong>, <a href="{{ path
                            ('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}
                <div class="d-flex justify-content-around">
                    <h1 class="h3"><strong>Connexion</strong></h1>
                </div>
                    {% if success is defined %}
                        <div>
                            {{ success }}
                        </div>
                    {% endif %}
                    {#<label for="inputEmail">Email :</label>#}
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           required autofocus placeholder="email">
                    {#<label for="inputPassword">Mot de passe:</label>#}
                    <input type="password" name="password" id="inputPassword" class="form-control pwd" required
                           placeholder="mot de passe">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="d-flex justify-content-around">
                        <button class="" type="submit">
                            Je me connecte
                        </button>
                    </div>

                <p class="reset-password"> Mot de passe oublié ? <a href="{{ path('app_forgotten_password') }}">Cliquez ici</a></p>
            </form>

        </div>
    </div>

    {% block footer %}

    {% endblock %}


{% endblock %}
