<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://kit.fontawesome.com/f0a8b2a9e8.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light bg-custom">
                <a class="navbar-brand" href="{{ path('home') }}"><span class="first-T">T</span><span class="second-T">T</span><span class="first-B">B</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">

                        {% if app.user %}
                            {#  _____Display if connected_____ #}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="nav-item nav-link" href="#" >Mon Profil</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{{ path('user_profile_show') }}" >Mon Profil</a>
                            {% endif %}
                            <a class="nav-item nav-link" href="/" >Mes Matchs</a>
                            <a class="nav-item nav-link" href="{{ path('app_logout') }}" >Déconnexion</a>
                        {% else %}
                            {#  _____Display if is not connected_____ #}
                            <a class="nav-item nav-link" href="{{ path('app_login') }}" >Connexion</a>
                        {% endif %}

                    </div>
                </div>
            </nav>
        {% endblock %}


        {% set containerStd = "mb-2 mt-4 container container-std-bg-white" %}
        {% set containerStdProfile = "mb-2 mt-4 d-flex justify-content-left container-std-bg-white-bootstrap" %}
        {% set formBlock = "m-4 p-0 d-flex flex-column justify-content-start container-std-bg-white-bootstrap" %}
        {% set formBlockStd = "mt-2 mb-2 p-0 justify-content-start container-std-bg-white-bootstrap" %}
        {% set formFullCol = "d-flex flex-row flex-fill align-items-stretch" %}
        {% set formFullColBlock = "m-2 p-0 d-flex flex-column flex-fill container-std-bg-white-bootstrap" %}
        {% set titleBlock = "p-2 d-flex align-items-stretch container-title-block" %}
        {% set titleBlock2 = "p-2 d-flex align-items-start container-title-block" %}
        {% set containerBtnMajCancel = "d-flex justify-content-between container-btn mr-2" %}
        {% set containerBtnMajCancelNoMr = "d-flex justify-content-center container-btn bg-light" %}


        {% block body %}{% endblock %}

        {% block footer %}
            <footer class="footer-container">

                <li><a href="">Mentions légales</a></li>
                <li><a href="">CGU</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">FAQ</a></li>

            </footer>
        {% endblock %}



        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
