<div class="card shadow card-custom card-width">
     <div class="titleBlock d-flex- justify-content-between align-items-center align-content-center">
        {{ include('components/_icon_board_request_txt.html.twig') }}
        <h5 class="card-title m-0 center-h-text align-self-center">{{ match.title }}</h5>
    </div>
    <div class="card-body">
        <p class="card-text">{{ match.description | default("Pas de description") }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre de compétences communes : {{ match.SCORE }} </li>
        {% if is_granted('ROLE_ADVISOR') %}
            <li class="list-group-item">Date de creation
                : {{ match.date_creation | date("d/m/Y", "Europe/Paris") }}</li>
        {% endif %}

    </ul>
    <div class="card-body container-a">
        {% if is_granted('ROLE_ADVISOR') or is_granted('ROLE_ADMIN') %}
            <a href="{{ path("match_details",
                { "aProfile": match.advisor_id, "eProfile": match.board_request_id }) }}"
               class="card-link">
                Afficher les details
            </a>
        {% else %}
            <a href="#"  class="card-link">
                Vous n'avez pas access aux details
            </a>
        {% endif %}

    </div>
</div>

