{% extends 'base.html.twig' %}

{% block title %}Matchs{% endblock %}
{% block body %}

    <div class="matchs-title justify-content-center">
        <h3 class="text-center">Détails Bord Request {{ eProfile.title }}</h3>
    </div>
    <div class="d-flex justify-content-center">
        <div class="container-std-onecol-bootstrap">
            <div class="title-block-around-bootstrap">
                <h5 class="m-0 align-self-center">Détails du match</h5>
                <i class="fas fa-user-tie fa-3x"></i>
            </div>
            <div>
                <table class="table table-match-details">
                    <tbody>
                    <tr>
                        <th>Nom de l'advisor</th>
                        <td>
                            <ul>
                                <li>
                                    {{ aProfile.advisor.user.firstName ~ " " ~ aProfile.advisor.user.lastName }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Poste de l'advisor</th>
                        <td>
                            <ul>
                                <li>
                                    {{ aProfile.title }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Description de l'advisor</th>
                        <td>
                            <ul>
                                <li>
                                    {{ aProfile.description | default("Pas de détails") }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>CV</th>
                        <td>
                            <ul>
                                <li>
                                    {% if aProfile.advisor.cvLink %}
                                        {{ include('matchs/_CV_modal_match.html.twig') }}
                                    {% else %}
                                        Aucun CV uploadé
                                    {% endif %}
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Compétences couvertes</th>
                        <td>
                            <ul class="list-unstyled">
                                {% for skill in aProfile.skills %}
                                    {% if skill in eProfile.skills %}
                                        <li>
                                            <div class="d-inline-flex">
                                                <p class="color-success mr-1">
                                                    {{ include('components/_icon_add.html.twig') }}</p>
                                                {{ skill.name }}
                                            </div>
                                        </li>
                                    {% endif %}
                                {% else %}
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th><p>Compétences non couvertes</p></th>
                        <td>
                            {% set noNoSkill = 1 %}
                            <ul>
                                {% for skill in eProfile.skills %}
                                    {% if skill not in aProfile.skills %}
                                        <li >
                                            <div class="d-inline-flex">
                                                <p class="color-danger mr-1">
                                                    {{ include('components/_icon_minus.html.twig') }}</p>
                                                {{ skill.name }}
                                                {% set noNoSkill = 0 %}
                                            </div>
                                        </li>
                                    {% endif %}
                                {% else %}
                                {% endfor %}
                                {% if noNoSkill == 1 %}
                                    <li><p class="pt-1 text-0dot8em">Toutes les compétences sont couvertes.</p></li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="container-btn-bootstrap">
                    <a class="m-4 text-center" href="{{ path('match_request_email',
                        { "aProfile": aProfile.id, "eProfile": eProfile.id }) }}">
                    <div class="d-inline-flex ml-2 flex-fill align-items-center align-content-center text-center">
                        {{ include('components/_icon_email_closed.html.twig') }}
                        <p class="ml-3 m-0 text-center">Demander une mise en relation</p>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('CVModal') }}
{% endblock %}
