{% extends 'base.html.twig' %}

{% block title %}Matchs{% endblock %}

{% block body %}
    <article>
    <div class="matchs-title">
        <h3>Sélectionner une Board request pour afficher les Advisors compatibles</h3>
    </div>
    {% set activeBoardRequest = "non-acttive" %}
    {% set nbActiveBoardRequestSkills = 0 %}
    <div class="d-flex flex-fill flex-row containerStdProfile m-2 p-0 board-title ">
        <div class="d-flex flex-column w-25 bg-light container-a container-tab" name="allBordRequest">
            {% for boardRequest in boardRequests %}
            {% if activceBoardRequestId ==  boardRequest.id %}
                {# for js #}
                {% set activeBoardRequest = "boardRequestActive" %}
                {# for calculate board % covered match in card  #}
                {% set nbActiveBoardRequestSkills = boardRequest.skills|length %}
            {% endif %}
            <div class="border-bottom border-style-blue" id="boardRequest-{{ boardRequest.id }}"
                 name="{{ activeBoardRequest }}">
                <a class="d-inline-flex flex-fill h4 pl-3 pt-3 p w-100 zoom" name="boardRequest" href="{{ path
                    ('match_board_request_enterprise',
                    { "id": boardRequest.id }) }}">{{ boardRequest.title }}</a>
                <p class="text-0dot8em pl-5 mb-0">Date de création : {{ boardRequest.dateCreation | date
                        ("d/m/Y", "Europe/Paris") }}</p>
                <p class="text-0dot8em pl-5 mb-0">Nb. compétences requises : {{ boardRequest.skills|length }}</p>
                {% set total = 0 %}
                {% set nbSkills = boardRequest.skills|length %}
                {% for match in matchs %}
                    {% if match.SCORE == nbSkills %}
                        {% set total = total + 1 %}
                    {% endif %}
                {% else %}
                {% endfor %}
                {% if activceBoardRequestId == boardRequest.id %}
                    <p class="text-0dot8em pl-5">Nb. profil complet : {{ total }}</p>
                {% endif %}
            </div>
            {% set activeBoardRequest = "non-acttive" %}
            {% else %}
                    <p class="h5 m-3">Vous devez créer une Board Request pour visualiser les matchs.
                    <p>
            {% endfor %}
        </div>
        <div class="w-75">
            <div class="d-flex flex-wrap flex-collumn m-3">
                {% for match in matchs %}
                    {% set percentCoveredSkill = (match.SCORE/nbActiveBoardRequestSkills) * 100 %}
                    <div class="d-flex flex-wrap flex-collumn m-1 zoom">
                        {% include "matchs/_card_enterprise_advisor_match.html.twig" %}
                    </div>
                {% else %}
                    {% if boardRequests is not empty and matchs is empty %}
                        <p class="h5 m-3">Aucun match pour cette Board Request.
                        <p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
    </article>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('enterpriseMatch') }}
{% endblock %}
