{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="container-btn-maj-cancel">
    <a href="{{ path('user_profile_show') }}">Annuler</a>
    <button class="btn ml-2">{{ button_label|default('Sauvegarder') }}</button>
</div>

{{ form_end(form) }}
