<div class="titleBlock">
    <div class="d-flex flex-fill align-items-stretch align-content-center justify-content-between">
        <h3 class="m-0 align-self-center">Advisor</h3>
        <i class="fas fa-user-tie fa-3x"></i>
    </div>
</div>
{% if user.advisor.isAlreadyBoardMember is same as(null) and user.advisor.linkedinLink == null and user.advisor.cvLink == null %}
        {% if not is_granted('ROLE_ADMIN') %}
            <div class="d-flex flex-fill justify-content-center container-btn p-3">
                <a href="{{ path('advisor_edit' , { "id": app.user.advisor.id }) }}">
                {{ include('components/_icon_new.html.twig') }} Ajouter mes informations Advisor</a>
            </div>
        {% endif %}
{% else %}
    <table class="table container-table">
        <tbody>
        <tr>
            <th width="{{ thWidth }}">Titre :</th>
            <!-- TODO rajouter oui/non selon le choix -->
            <td>{{ user.advisor.profiles[0].title }}</td>
        </tr>
        <tr>
            <th width="{{ thWidth }}">Description :</th>
            <!-- TODO rajouter oui/non selon le choix -->
            <td>{{ user.advisor.profiles[0].description }}</td>
        </tr>
        <tr>
            <th width="{{ thWidth }}">Votre historique de board :</th>
            <!-- TODO rajouter oui/non selon le choix -->
            <td>{{ user.advisor.isAlreadyBoardMember ? "Historique" : "Vous n'êtes pas encore membre d'un board" }}</td>
        </tr>

        <tr>
            <th width="{{ thWidth }}">Mon abonnement :</th>
            {% if is_granted("ROLE_ADVISOR") %}
                <td>
                    {% if user.advisor.paymentStatus == 0 %}
                        Non Abonné
                    {% else %}
                        En cours
                    {% endif %}
                </td>
            {% else %}
                {% set linkPaymentStatus = app.request.schemeAndHttpHost ~ path('advisor_payment_status',
                    {'id': user.advisor.id, 'status': null }) %}
                <td>
                    <select name="payment" id="payment" data-link="{{ linkPaymentStatus }}" class="form-control select-payment">
                        <option value="0" {% if user.advisor.paymentStatus == 0 %} selected {% endif %}>Non Abonné</option>
                        <option value="1" {% if user.advisor.paymentStatus == 1 %} selected {% endif %}>Paiement validé</option>
                    </select>
                </td>
            {% endif %}
        </tr>

        <tr>
            <th width="{{ thWidth }}">LinkedIn :</th>
            <td>{{ user.advisor.linkedinLink ? "LinkedIn" : "Ajoutez un lien vers votre LinkedIn" }}</td>
        </tr>
        <tr>
            <th class="align-middle" width="{{ thWidth }}">CV:</th>
            {% if user.advisor.cvLink %}
                <td>
                    {{ include('advisor/_CV_modal.html.twig') }}
                </td>
            {% else %}
                <td>Ajoutez votre CV</td>
            {% endif %}
        </tr>
        </tbody>
    </table>
    {% if not is_granted('ROLE_ADMIN') %}
        <div class="d-flex p-2 justify-content-around ml-1 container-a">
            <a href="{{ path('advisor_edit' , { "id": app.user.advisor.id }) }}">
                Modifier mes informations Advisor</a>
        </div>
    {% endif %}

{% endif %}
