<div class="titleBlock">
    <div class="d-flex flex-fill align-items-stretch align-content-center justify-content-between">
        <h3 class="m-0 align-self-center">Fiche Entreprise</h3>
        <div>
            {{ include('components/_icon_enterprise.html.twig') }}
        </div>
    </div>
</div>
{% if user.enterprise.address == null and user.enterprise.zipCode == null and user.enterprise.city == null and user.enterprise.legelRepresentative == null and user.enterprise.linkedinLink == null and user.enterprise.websiteLink == null %}
<div class="d-flex flex-fill justify-content-center container-btn p-3">
    <a href="{{ path('enterprise_edit' , { "id": app.user.enterprise.id }) }}">
        {{ include('components/_icon_new.html.twig') }} Ajouter mon entreprise</a>
</div>
{% else %}
    <table class="table container-table">
        <tbody>
        <tr>
            <th width="40%">Nom de l'entreprise&nbsp:</th>
            <td>{{ user.enterprise.name }}</td>
        </tr>
        <tr>
            <th width="40%">Adresse&nbsp:</th>
            <td>
                {{ user.enterprise.address }}
                {{ user.enterprise.zipCode ~ " " ~ user.enterprise.city }}
            </td>
        </tr>
        <tr>
            <th width="40%">Représentant légal&nbsp:</th>
            <td>{{ user.enterprise.legelRepresentative }}</td>
        </tr>
        <tr>
            <th width="40%">Lien linkedIn&nbsp:</th>
            <td>{{ user.enterprise.linkedinLink }}</td>
        </tr>
        <tr>
            <th width="40%">Site Web&nbsp:</th>
            <td>{{ user.enterprise.websiteLink }}</td>
        </tr>
        <tr>
            <th width="40%">Mon abonnement&nbsp:</th>
            {% if is_granted("ROLE_ENTERPRISE") %}
                <td>{{ user.enterprise.paymentStatus }}</td>
            {% else %}
                {% set linkPaymentStatus = app.request.schemeAndHttpHost ~ path('enterprise_payment_status',
                    {'id': user.enterprise.id, 'status': null }) %}
                <td>
                    <select name="payment" id="payment" data-link="{{ linkPaymentStatus }}">
                        <option value="0" {% if user.enterprise.paymentStatus == 0 %} selected {% endif %}>Pas Payé</option>
                        <option value="1" {% if user.enterprise.paymentStatus == 1 %} selected {% endif %}>Payé</option>
                    </select>
                </td>
            {% endif %}
        </tr>
        </tbody>
    </table>
    {% if type is not defined %}
        {% if not is_granted('ROLE_ADMIN') %}
            <div class="d-flex p-2 justify-content-around ml-1 container-a">
                <a href="{{ path('enterprise_edit' , { "id": app.user.enterprise.id }) }}">
                    Modifier les informations de l'entreprise</a>
            </div>
        {% endif %}
    {% endif %}

{% endif %}
