<div class="titleBlock">
    <div class="d-flex flex-fill align-items-stretch align-content-center justify-content-between">
        <h3 class="m-0 align-self-center">Fiche Entreprise</h3>
        <div>
            {{ include('components/_icon_enterprise.html.twig') }}
        </div>
    </div>
</div>
{% if user.enterprise.address == null and user.enterprise.zipCode == null and user.enterprise.city == null and user.enterprise.legelRepresentative == null and user.enterprise.linkedinLink == null and user.enterprise.websiteLink == null %}
    {% if not is_granted('ROLE_ADMIN') %}
        <div class="d-flex flex-fill justify-content-center container-btn p-3">
            <a href="{{ path('enterprise_edit' , { "id": app.user.enterprise.id }) }}">
                {{ include('components/_icon_new.html.twig') }} Ajouter mon entreprise</a>
        </div>
    {% endif %}

{% else %}
    <table class="table container-table">
        <tbody>
        <tr>
            <th width="40%">Nom de l'entreprise&nbsp:</th>
            <td>{{ user.enterprise.name }}</td>
        </tr>
        <tr>
            <th width="40%">Adresse&nbsp:</th>
            <td>
                {{ user.enterprise.address }}
                {{ user.enterprise.zipCode ~ " " ~ user.enterprise.city }}
            </td>
        </tr>
        <tr>
            <th width="40%">Représentant légal&nbsp:</th>
            <td>{{ user.enterprise.legelRepresentative }}</td>
        </tr>
        <tr>
            <th width="40%">LinkedIn&nbsp:</th>
            <td>{{ user.enterprise.linkedinLink }}</td>
        </tr>
        <tr>
            <th width="40%">Site Web&nbsp:</th>
            <td>{{ user.enterprise.websiteLink }}</td>
        </tr>
        <tr>
            <th width="40%">Mon abonnement&nbsp:</th>
            {% if is_granted("ROLE_ENTERPRISE") %}
                <td>
                    {% if  user.enterprise.paymentStatus == 0 %}
                        Non Abonné
                    {% else %}
                        En cours
                    {% endif %}
                </td>
            {% else %}
                {% set linkPaymentStatus = app.request.schemeAndHttpHost ~ path('enterprise_payment_status',
                    {'id': user.enterprise.id, 'status': null }) %}
                <td>
                    <select name="payment" id="payment" data-link="{{ linkPaymentStatus }}" class="form-control select-payment">
                        <option value="0" {% if user.enterprise.paymentStatus == 0 %} selected {% endif %}>Non Abonné</option>
                        <option value="1" {% if user.enterprise.paymentStatus == 1 %} selected {% endif %}>Paiement validé</option>
                    </select>
                </td>
            {% endif %}
        </tr>
        <tr>
            <div class="d-flex justify-content-center align-items-center">
            <th class="align-middle" width="40%">Plaquette:</th>
            {% if user.enterprise.brochure %}
                <td>
                    <!-- Button trigger modal -->
                    <div class="container-btn">
                        <button id="showCVButton" type="button" class="">
                            Voir ma plaquette
                        </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal" id="CVAdvisor">
                        <div class="modal-dialog bnj-modal-dialog">
                            <div class="modal-content bnj-modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title bnj-modal-title">Ma Plaquette</h5>
                                    <button type="button" class="close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body bnj-modal-body">
                                    <img src="/uploads/images/users/{{ user.enterprise.brochure|replace({'pdf': 'jpg'})}}" alt="{{ user.enterprise.brochure }}" class="img-fluid"/>
                                </div>
                                <div class="modal-footer">
                                    <button id="hideCVButton" type="button" class="btn btn-secondary">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            {% else %}
                <td>Ajoutez votre plaquette</td>
            {% endif %}
            </div>
        </tr>
        </tbody>
    </table>
    {% if type is not defined %}
        {% if not is_granted('ROLE_ADMIN') %}
            <div class="d-flex p-2 justify-content-around ml-1 container-a">
                <a href="{{ path('enterprise_edit' , { "id": app.user.enterprise.id }) }}">
                    Modifier les informations de l'entreprise</a>
            </div>
        {% endif %}
    {% endif %}

{% endif %}
