<div class="{{ titleBlock }}">
    <div class="d-flex flex-fill align-items-stretch align-content-center justify-content-between">
        <h3 class="m-0 align-self-center">Advisor :</h3>
        <i class="fas fa-user-tie fa-3x"></i>
    </div>
</div>
{% if user.advisor.isAlreadyBoardMember is same as(null) and user.advisor.linkedinLink == null and user.advisor.cvLink == null %}
    <div class="d-flex flex-fill justify-content-center container-btn p-3">
        <a href="{{ path('advisor_edit' , { "id": app.user.advisor.id }) }}">
            {{ include('components/_icon_new.html.twig') }} Ajouter mes informations Advisor</a>
    </div>
{% else %}
    <table class="table">
        <tbody>
        <tr>
            <th width="{{ thWidth }}">Votre historique de board :</th>
            <!-- TODO rajouter oui/non selon le choix -->
            <td>{{ user.advisor.isAlreadyBoardMember ? "Historique" : "Vous n'êtes pas encore membre d'un board" }}</td>
        </tr>
        <tr>
            <th width="{{ thWidth }}">Status du payment :</th>
            <td>{{ user.advisor.paymentStatus }}</td>
        </tr>
        <tr>
            <th width="{{ thWidth }}">LinkedIn :</th>
            <td>{{ user.advisor.linkedinLink ? "LinkedIn" : "Rajoutez un lien vers votre LinkedIn" }}</td>
        </tr>
        <tr>
            <th width="{{ thWidth }}">CV:</th>
            {% if user.advisor.cvLink %}
                <td>
                    <!-- Button trigger modal -->
                    <button id="showCVButton" type="button" class="btn btn-primary">
                        Voir mon CV
                    </button>
                    <!-- Modal -->
                    <div class="modal" id="CVAdvisor">
                        <div class="modal-dialog bnj-modal-dialog">
                            <div class="modal-content bnj-modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Mon CV</h5>
                                    <button type="button" class="close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body bnj-modal-body">
                                    <img src="/uploads/images/users/{{ user.advisor.cvLink|replace({'pdf': 'jpg'})}}" alt="{{ user.advisor.cvLink }}" class="img-fluid"/>
                                </div>
                                <div class="modal-footer">
                                    <button id="hideCVButton" type="button" class="btn btn-secondary">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>


            {% else %}
                <td>Rajoutez votre CV</td>
            {% endif %}
        </tr>
        </tbody>
    </table>
    <div class="d-flex p-2 justify-content-around ml-1 container-a">
        <a href="{{ path('advisor_edit' , { "id": app.user.advisor.id }) }}">
            Modifier mes informations Advisor</a>
    </div>
{% endif %}
