<div class="{{ titleBlock }}">
    <div class="d-flex flex-fill align-items-stretch align-content-center justify-content-between">
        <h3 class="m-0 align-self-center">Mon Profil</h3>
        <div>
            {{ include('components/_icon_user.html.twig') }}
        </div>
    </div>
</div>
<table class="table table container-fluid container-table">
    <tbody>
    <tr>
        <th width="{{ thWidth }}">Prénom :</th>
        <td><span class="font-weight-light h-1">{{ user.firstName }}</span></td>
    </tr>
    <tr>
        <th width="{{ thWidth }}">Nom :</th>
        <td>{{ user.lastName }}</td>
    </tr>
    <tr>
        <th width="{{ thWidth }}">Email &amp identifiant :</th>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <th width="{{ thWidth }}">Compte vérifié :</th>
        <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
    </tr>
    <tr>
        <th width="{{ thWidth }}">Type :</th>
        <td>
            {{ user.enterprise ? "Entreprise" }}
            {{ user.advisor ? "Advisor" }}
        </td>
    </tr>
    </tbody>
</table>
<div class="{{ titleBlock }} rounded-0 p-0">
    <h6 class="m-0 align-self-center">Infos complémentaires</h6>
</div>

<table class="table container-fluid container-table">
    <tbody>
    <tr>
        <th width="{{ thWidth }}">Civilité :</th>
        {% if user.gender == "H" %}
            <td>Monsieur</td>
        {% else %}
            <td>Madame</td>
        {% endif %}
    </tr>
    <tr>
        <th width="{{ thWidth }}">Téléphone :</th>
        <td>{{ user.phone }}</td>
    </tr>
    <tr>
        <th width="{{ thWidth }}">Nationalité :</th>
        <td>{{ user.nationality }}</td>
    </tr>
    <tr>
        <th width="{{ thWidth }}">Adresse :</th>
        <td>
            {{ user.address }}
            {{ user.postCode ~ " " ~ user.city }}
        </td>
    </tr>
    <tr>
        <th width="{{ thWidth }}">Pays :</th>
        <td>{{ user.country }}</td>
    </tr>
    <tr>
        <th width="{{ thWidth }}">Photo :</th>
        <td>{{ user.pictureLink }}</td>
    </tr>

    </tbody>
</table>

