{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur : {% endblock %}

{% block body %}

    <div class="container-fluid row">
        <!-- col 1 -->
        <div class="col-lg-4 col-md-12">
            <div class="{{ formBlockStd }}">
                {% include 'user/_profile_show_base_user.html.twig' %}
                {% include 'user/_profile_show_detail_user.html.twig' %}
                <div class="d-flex p-2 justify-content-around ml-1 container-a">
                    <a href="{{ path('user_profile_edit' , { "id": app.user.id }) }}">
                        Mettre a jour les informations</a>
                </div>
            </div>
            <div class="{{ formBlockStd }}">
                {% include 'user/_profile_show_enterprise.html.twig' %}
            </div>


        </div>
        <!-- col 2 -->
        <div class="col-lg-8 col-md-12 {{ formBlockStd }}">
                {% include 'user/_profile_show_board_request.html.twig' %}
        </div>

    </div>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

{% endblock %}
