{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    {% set thWidth = "40%" %}
    <div class="container-fluid">
        <div class="row">
            <!-- col 1 -->
            <div class="col-lg-4 col-md-12">
                <div class="form-block-std">
                    {% include 'user/_profile_show_base_user.html.twig' %}

                    {% if not is_granted('ROLE_ADMIN') %}
                        <div class="d-flex p-2 justify-content-around ml-1 container-a">
                            <a href="{{ path('user_profile_edit' , { "id": app.user.id }) }}">
                                Modifier mon profil</a>
                        </div>
                    {% endif %}
                </div>

                <div class="form-block-std">
                    {% if is_granted('ROLE_ENTERPRISE') or userType == 'Entreprise' %}
                        {% include 'user/_profile_show_enterprise.html.twig' %}
                    {% elseif is_granted('ROLE_ADVISOR') or userType == 'Advisor' %}
                        {% include 'user/_profile_show_advisor.html.twig' %}
                    {% endif %}
                </div>

            </div>
            <!-- col 2 -->
            <div class="col-lg-8 col-md-12">
                <div class="form-block-std">
                    {% include 'user/_profile_show_board_request.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('userProfileSkills') }}

    {% if is_granted("ROLE_ADMIN") %}
        {{ encore_entry_script_tags('paymentStatus') }}
        {{ encore_entry_script_tags('addSkillV2') }}
    {% elseif is_granted("ROLE_ADVISOR") %}
        {{ encore_entry_script_tags('addSkillV2') }}
    {% endif %}
git
    <script>

        function fade(element) {
            let op = 1;  // initial opacity
            let timer = setInterval(function () {
                if (op <= 0.1) {
                    clearInterval(timer);
                    element.style.display = 'none';
                }
                element.style.opacity = op;
                element.style.filter = 'alpha(opacity=' + op * 100 + ")";
                op -= op * 0.1;
            }, 5);
        }

        function unfade(element) {
            let op = 0.1;  // initial opacity
            element.style.display = 'block';
            let timer = setInterval(function () {
                if (op >= 1) {
                    clearInterval(timer);
                }
                element.style.opacity = op;
                element.style.filter = 'alpha(opacity=' + op * 100 + ")";
                op += op * 0.1;
            }, 10);
        }

        // Get the modal
        const modal = document.getElementById("CVAdvisor");

        // Get the button that opens the modal
        const showBtn = document.getElementById("showCVButton");

        // Get the <span> element that closes the modal
        const closeBtn = document.getElementsByClassName("close")[0];

        // Get the button that closes the modal
        const closeBtnBis = document.getElementById("hideCVButton");

        // When the user clicks the "Voir mon CV" button, open the modal
        showBtn.onclick = function () {
            unfade(modal);
        }

        // When the user clicks on "x", close the modal
        closeBtn.onclick = function () {
            fade(modal);
        }

        // When the user clicks on "Fermer", close the modal
        closeBtnBis.onclick = function () {
            fade(modal);
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                fade(modal);
            }
        }
    </script>
{% endblock %}
