{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>{{ user.firstName ~ " " ~ user.lastName }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <td><img src="{{ user.pictureLink }}"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ user.type }}</td>
            </tr>
            <tr>
                <th>Compte vérifié</th>
                <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.city }}</td>
            </tr>


        </tbody>
    </table>
    {% for skill in user.advisor.profiles[0].skills %}
        {{ skill.name }}
    {% endfor %}
{% endblock %}
