{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container-info-profil">
        <h1>{{ user.firstName ~ " " ~ user.lastName }}</h1>
        <img width="200px" src="{{ user.pictureLink }}">
        <div class="container-info">
            <p>Email: {{ user.email }}</p>
            <p>Type: {{ user.type }}</p>
            <p>Compte vérifié: {{ user.isVerified ? 'Oui' : 'Non' }}</p>
            <p>Adresse: {{ user.address }}</p>
            <p>Ville: {{ user.city }}</p>

            <label for="payment">Statut payment:</label>

            <select name="status" id="payment" placeholder="zefzfefzfze">
                <option value="" selected data-default>Changer statut de payment</option>
                <option value="1">Oui</option>
                <option value="0">Non</option>
            </select>
        </div>
    </div>
    {% if  user.advisor%}
        {% include "user/_skills_profil_advisor.html.twig" %}
    {% elseif user.enterprise %}
        {{ include("user/_profile_show_enterprise.html.twig", {'type': 'admin'}) }}
    {% endif %}
{% endblock %}



{% block javascripts %}
    {{ encore_entry_script_tags('userProfileSkills') }}
{% endblock %}

